/* line 2, ../sass/_shell.scss */
#shell {
  border: 1px solid #000;
}
/* line 5, ../sass/_shell.scss */
#shell form.cmd {
  position: relative;
  min-height: 4em;
}
/* line 10, ../sass/_shell.scss */
#shell form.cmd .query-box,
#shell form.cmd .prompt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 17, ../sass/_shell.scss */
#shell form.cmd .query-box {
  width: 100%;
  outline: none;
  border: none;
  z-index: 90;
  height: 4em;
  padding-left: 5em;
}
/* line 25, ../sass/_shell.scss */
#shell form.cmd .prompt {
  vertical-align: top;
  width: 4em;
  color: blue;
  z-index: 100;
}
/* line 31, ../sass/_shell.scss */
#shell form.cmd input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  width: 5em;
}
