/* line 2, ../sass/_shell.scss */
#shell {
  border: 1px solid #000;
}
/* line 5, ../sass/_shell.scss */
#shell form.cmd {
  position: relative;
  min-height: 4em;
}
/* line 10, ../sass/_shell.scss */
#shell form.cmd .query-box,
#shell form.cmd .prompt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 17, ../sass/_shell.scss */
#shell form.cmd .query-box {
  width: 100%;
  outline: none;
  border: none;
  z-index: 90;
  height: 4em;
  padding-left: 5em;
}
/* line 25, ../sass/_shell.scss */
#shell form.cmd .prompt {
  vertical-align: top;
  width: 4em;
  color: blue;
  z-index: 100;
}
/* line 31, ../sass/_shell.scss */
#shell form.cmd input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  width: 5em;
}

/**
 * Graph widget
 */
/* line 5, ../sass/widgets/_graph.scss */
.graph-widget {
  overflow: auto;
}
/* line 7, ../sass/widgets/_graph.scss */
.graph-widget.wide {
  width: 100%;
}
/* line 9, ../sass/widgets/_graph.scss */
.graph-widget.wide canvas.graph {
  height: 200px;
  width: 900px;
}
/* line 14, ../sass/widgets/_graph.scss */
.graph-widget canvas.graph {
  margin: 0 auto;
  display: block;
  border: 1px solid #000;
  background: #333;
}
/* line 20, ../sass/widgets/_graph.scss */
.graph-widget canvas.graph.pie {
  height: 250px;
  width: 250px;
}
/* line 29, ../sass/widgets/_graph.scss */
.graph-widget .legend ul.pie-legend {
  padding-left: 0;
  padding: 0;
}
/* line 33, ../sass/widgets/_graph.scss */
.graph-widget .legend ul.pie-legend li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 50%;
}
/* line 37, ../sass/widgets/_graph.scss */
.graph-widget .legend ul.pie-legend li span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  height: 1em;
  width: 1em;
  margin: 0.25em;
}
