<script>
var jsonWt = {{jsonWt | raw}};
var jsonCpu = {{jsonCpu | raw}};
var jsonMu = {{jsonMu | raw}};
var jsonPmu = {{jsonPmu | raw}};
</script>
<div class="uk-container uk-container-center">
    <div class="uk-grid">
	<div class="uk-width-1-4">
	    <div class="graph-widget">
		<h3 class="title">Top 10: Wall Time</h3>
		<canvas class="pie graph" id="gRunWt"></canvas>
		<div class="legend"></div>
	    </div>
	</div>
	<div class="uk-width-1-4">
	    <div class="graph-widget">
		<h3 class="title">Top 10: CPU Time</h3>
		<canvas class="pie graph" id="gRunCpu"></canvas>
		<div class="legend"></div>
	    </div>
	</div>
	<div class="uk-width-1-4">
	    <div class="graph-widget">
		<h3 class="title">Top 10: Memory Use</h3>
		<canvas class="pie graph" id="gRunMu"></canvas>
		<div class="legend"></div>
	    </div>
	</div>
	<div class="uk-width-1-4">
	    <div class="graph-widget">
		<h3 class="title">Top 10: Peak Mem Use</h3>
		<canvas class="pie graph" id="gRunPmu"></canvas>
		<div class="legend"></div>
	    </div>
	</div>
    </div>
</div>
<div class="uk-container uk-container-center">
    <div class="uk-grid">
	<h2>Run Info: {{runId}}</h2>
	<div class="uk-width-1-1">
	    <table class="uk-table uk-table-condensed uk-table-hover">
	      <caption>
		This page shows a breakdown of the most expensive methods in this run.
		(Sorted by 'cpu DESC, wt DESC')
	      </caption>
		<thead>
		    <tr>
			<th>Method</th>
			<th>Count</th>
			<th>Wall Time</th>
			<th>CPU</th>
			<th>Mem Usage</th>
			<th>Peak Mem Usage</th>
		    </tr>
		</thead>
		<tbody>
		    {% for run in runs %}
		    <tr>
			<td>{% if (run.class) %}
			    <a href="class-info.php?class={{run.class}}">
				{{run.class}}
			    </a>
			    ::
			    <a href="method-info.php?method={{run.name}}&class={{run.class}}">
				{{run.name}}
			    </a>
			    {% else %}
			    <a href="method-info.php?method={{run.name}}">
				{{run.name}}
			    </a>
			    {% endif %}
			</td>
			<td>{{run.ct}}</td>
			<td>{{run.wt}}</td>
			<td>{{run.cpu}}</td>
			<td>{{run.mu}}</td>
			<td>{{run.pmu}}</td>
		    </tr>		
		    {% endfor %}
	    </table>
	</div>
    </div>
</div>
<script src="js/pages/run-info.js"></script>