<script>                                                                                                            
var jsonWt = {{jsonWt | raw}};
var jsonCpu = {{jsonCpu | raw}};
var jsonMu = {{jsonMu | raw}};
var jsonPmu = {{jsonPmu | raw}};
</script>

<div class="uk-container uk-container-center">
  <div class="uk-grid">
    <div class="graph-widget wide">
      <canvas id="gRunTime" class="graph"></canvas>
    </div>
  </div>
</div>

<div class="uk-container uk-container-center">
  {% for msg in msgs %}
  <div class="uk-alert uk-alert-success">{{msg}}</div>
  {% endfor %}
  {% for err in errors %}
  <div class="uk-alert uk-alert-danger">{{err}}</div>
  {% endfor %}
    <div class="uk-grid">
	<div class="uk-width-1-2">
	    <table class="uk-table uk-table-condensed uk-table-hover">
	      <caption>
		This is a list of runs that have already been imported. To import additional runs, use the box to the right,
		or check the <a href="files.php">files</a> tab.
	      </caption>
		<thead>
		    <tr>
			<th>Run ID</th>
			<th>Script</th>
			<th>Overall Time</th>
		    </tr>
		</thead>
		<tbody>
		    {% for run in runs %}
		    <tr>
			<td>
			    <a href="run-info.php?run={{run.runId}}">
				{{run.runId}}
			    </a>
			</td>
			<td>{{run.scriptName}}</td>
			<td>--</td>
		    </tr>		
		    {% endfor %}
	    </table>
	</div>
	<div class="uk-width-1-2">
	    <div class="uk-panel-box">
		<form id="frmUploadFile" action="" method="post"
                      enctype="multipart/form-data" class="uk-form">
                    <fieldset>
			<legend>Upload *.xhprof File</legend>
			<input type="file" name="xhprof_file">
			<input type="submit" class="uk-button uk-button-primary" value="Upload">
                    </fieldset>
		</form>
	    </div>
	    <div class="uk-panel-box">
		<form id="frmRuns" action="" method="post" class="uk-form">
		    <fieldset>
			<legend>Manage Run Groups</legend>
			<div class="uk-form-row">
			    <label>Run Group Name</label>
			    <input type="text" name="new_group_name">
			</div>
			<div class="uk-form-row">
			    <label>&nbsp;</label>
			    <input type="submit" value="Add Group" 
				   class="uk-button uk-button-success">
			</div>
		    </fieldset>
		</form>
	    </div>
	</div>
    </div>
</div>
<script src="js/pages/runs.js"></script>
