<div class="uk-container uk-container-center">
  {% for msg in msgs %}
  <div>{{msg}}</div>
  {% endfor %}
    <div class="uk-grid">
	<div class="uk-width-1-2">
	    <h2>Run Info</h2>
	    <dl class="uk-description-list-line">
		<dt>Runs</dt>
		<dd>Runs are pageviews.</dd>

		<dt>Run Group</dt>
		<dd>Run Groups are used to, well, group runs. Enable a RunGroup,
		    and I'll aggregate the stats from all future Runs. Use this
		    to evaluate overall performance of a page.</dd>
		
		<dt>Benchmark</dt>
		<dd>Benchmarking will attempt to re-run all stored Run files
		    for a given benchmark. This is useful for collecting
		    before/after data while ensuring the scripts were
		    run in the same order.
		</dd>
	    </dl>
	</div>
	<div class="uk-width-1-2">
            <form id="frmUploadFile" action="" method="post"
                  enctype="multipart/form-data" class="uk-form">
                <fieldset>
                    <legend>Upload *.xhprof File</legend>
                    <input type="file" name="xhprof_file">
                    <input type="submit" class="uk-button uk-button-primary" value="Upload">
                </fieldset>
            </form>
	    <table class="uk-table uk-table-condensed uk-table-hover">
		<thead>
		    <tr>
			<th>Run ID</th>
			<th>Script</th>
			<th>Overall Time</th>
		    </tr>
		</thead>
		<tbody>
		    {% for run in runs %}
		    <tr>
			<td>
			    <a href="run-info.php?run={{run.runId}}">
				{{run.runId}}
			    </a>
			</td>
			<td>{{run.scriptName}}</td>
			<td>--</td>
		    </tr>		
		    {% endfor %}
	    </table>
	</div>
    </div>
</div>
